{erl_opts, [debug_info]}.
{deps, [ecron, cowboy, jsone, gproc]}.

{relx, [{release, {autofarm, "0.1.0"},
         [cron_schedule,
          device_monitor,
          frontend_server,
          sasl,
          jsone,
          gproc]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {extended_start_script, true},
        {include_erts, true}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
