[
  {device_monitor, []},
  {frontend_server, [{farm_action_to_device_action,
                      % action    | entity      device name          | id | component
                      #{{irrigate, tommies} => {irrigation_controller, 0, 6},
                        {irrigate, top_row} => {irrigation_controller, 0, 4}}}]}
].
